body
{
   background-image : url("bg.png");
   background-repeat : repeat;
}
.flexrow
{
   display : flex;
   flex-wrap : wrap;
   justify-content : center;
}

.rowitem
{
   flex : 1 1 512px;
   margin 20px;
}

.flexcol
{
   display : flex;
   flex-direction : column;
   background-color: yellow;
   justify-content : center;
}

.control_item
{
}

#control_div
{
   min-width : 512px;
   padding : 20px;
}

#control_div_content
{
   padding : 20px;
}

label
{
   margin-top :20px;
}
